<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Lucie Colon, Auzanet Charly, Lemarinier Jérémy, Hery, Guillaume">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}MatchMyPics - WCS{% endblock %}</title>

        <link rel="shortcut icon" href="{{ asset('bundles/MatchMyPicsBundle/img/favicon.ico') }}" type="image/x-icon"/>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Google Font -->
        <link rel="stylesheet" href="{{ asset('bundles/MatchMyPicsBundle/font-awesome/css/font-awesome.min.css') }}"/>
        <!-- Call CSS -->
        {% block cssglobal %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/MatchMyPicsBundle/css/global.css') }}"/>
        {% endblock %}

        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>

        {% block nav %}


        {% endblock %}

        {% block body %}{% endblock %}

        <!-- Jquery -->
        <script src="{{ asset('bundles/MatchMyPicsBundle/js/jquery.js') }}"></script>
        <!-- Boostrap Js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Main Javascript -->
        <script src="{{ asset('bundles/MatchMyPicsBundle/js/main.js') }}"></script>
        <script src="{{ asset('bundles/MatchMyPicsBundle/js/picturebox.js') }}"></script>

        {% block javascripts %}{% endblock %}

    </body>
</html>
