{% extends 'MatchMyPicsBundle:admin:layout_admin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/matchmypics/css/addchallenge.css') }}"/>
{% endblock %}


{% block body %}

    <div class="container">
        <h1>Création d'un challenge</h1>
        {{ form_start(form) }}

        <div class="row listAddChall">
            <div class="col-xs-12 col-md-6 chalbox chalBoxPadd">
                <div class="row">
                    <h2>Challenge :</h2>
                </div>
                <div class="row">
                    {{ form_label(form.titre) }}
                    {{ form_widget(form.titre) }}
                </div>
                <div class="row">
                    {{ form_label(form.position) }}
                    {{ form_widget(form.position) }}
                </div>
                <div class="row">
                    {{ form_label(form.photo.file) }}
                    {{ form_widget(form.photo.file) }}
                </div>
                <div class="row">
                    {{ form_label(form.parametre) }}
                    {{ form_widget(form.parametre) }}
                </div>
            </div>
            <div class="col-xs-12 col-md-6 chalBoxPadd">
                <div class="row">
                    <h2>Indice :</h2>
                </div>
                <div class="row">
                    {{ form_label(form.indice.contenu) }}
                    {{ form_widget(form.indice.contenu) }}
                </div>
                <div class="row">
                    {{ form_label(form.indice.photo.file) }}
                    {{ form_widget(form.indice.photo.file) }}
                </div>
                <div class="row">
                    {{ form_label(form.indice.parametre) }}
                    {{ form_widget(form.indice.parametre) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 creerbtn">
                <input class="delete" type="submit" value="Créer" />
            </div>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}