{% extends 'MatchMyPicsBundle:admin:layout_admin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/matchmypics/css/addchallenge.css') }}"/>
{% endblock %}


{% block body %}

    <div class="container chal">
        <h1>Création d'un player</h1>
        <div class="col-xs-12">
            <div class="listAddChall">
                {{ form_start(form) }}
                <div class="row">
                    <h2>{{ form_label(form.player) }}</h2>
                    {{ form_widget(form.player) }}
                </div>
                <div class="row">
                    <h2>{{ form_label(form.team) }}</h2>
                    {{ form_widget(form.team) }}
                </div>
            </div>
            <div class="row creerbtn">
                <input class="delete" type="submit" value="Créer" />
            </div>
            {{ form_end(form) }}

            <div class="row boutonAction">
                <button class="boutonback">
                    <a href="{{ path('players_index') }}">Retour à la liste des players</a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}