{% extends 'MatchMyPicsBundle:admin:layout_admin.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/matchmypics/css/addchallenge.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edition du player "{{ player.player }}"</h1>
        <div class="row">
            <div class="col-xs-12 listAddChall">
                <div class="row">
                    {{ form_start(edit_form) }}
                    <div class="col-xs-12">
                        <h2>{{ form_label(edit_form.player) }}</h2> {{ form_widget(edit_form.player) }}
                    </div>
                    <div class="col-xs-12">
                        <h2>{{ form_label(edit_form.team) }}</h2>{{ form_widget(edit_form.team) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row boutonAction">
            <div class="col-xs-12">
                {{ form_widget(edit_form) }}
                <input type="submit" value="Valider" />
                {{ form_end(edit_form) }}
            </div>
        </div>

        <div class="row boutonAction">
            <div class="col-xs-12">
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>

        <div class="row boutonAction">
            <div class="col-xs-12">
                <button class="boutonback">
                    <a href="{{ path('players_index') }}">Retour à la liste des players</a>
                </button>
            </div>
        </div>
    </div>

{% endblock %}