{% extends 'MatchMyPicsBundle:admin:layout_admin.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/MatchMyPicsBundle/css/addchallenge.css') }}"/>
{% endblock %}
{% block cssglobal %}
{% endblock %}

{% block body %}
    <div class="container">
    <h1>Edition du challenge "{{ challenge.titre }}"</h1>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 listAddChall">
            <div class="row">
                <div class="col-xs-6">
                    <h1 class="titrebox">Challenge :</h1>
                    <div class="row">
                        {{ form_start(edit_form) }}
                        <div class="col-xs-offset-3 col-xs-6 photoshow">
                            <img src="{{ asset('image_upload/' ~ challenge.photo.sources) }}" alt="{{ challenge.photo.alt }}">
                        </div>
                        <div class="col-xs-offset-3 col-xs-6">
                            <h2>{{ form_label(edit_form.titre) }}</h2> {{ form_widget(edit_form.titre) }}
                        </div>
                        <div class="col-xs-offset-3 col-xs-6">
                            <h2>{{ form_label(edit_form.position) }}</h2>{{ form_widget(edit_form.position) }}
                        </div>
                        <div class="col-xs-offset-3 col-xs-6">
                            <h2>{{ form_label(edit_form.photo.file) }}</h2>{{ form_widget(edit_form.photo.file) }}
                        </div>
                        <div class="col-xs-offset-3 col-xs-6">
                            <h2>{{ form_label(edit_form.photo.alt) }}</h2>{{ form_widget(edit_form.photo.alt) }}
                        </div>
                        <div class="col-xs-offset-3 col-xs-6">
                            <h2>{{ form_label(edit_form.parametre) }}</h2>{{ form_widget(edit_form.parametre) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h1 class="titrebox">Indice :</h1>
                    <div class="row indiceshowbox">
                        <div class="col-xs-offset-3 col-xs-6 photoshow">
                            <img src="{{ asset('image_upload/' ~ challenge.indice.photo.sources) }}" alt="{{ challenge.indice.photo.alt }}">
                        </div>
                        <div class="col-xs-offset-3 col-xs-6">
                            <h2>{{ form_label(edit_form.indice.photo.file) }}</h2>{{ form_widget(edit_form.indice.photo.file) }}
                        </div>
                        <div class="col-xs-offset-3 col-xs-6">
                            <h2>{{ form_label(edit_form.indice.photo.alt) }}</h2>{{ form_widget(edit_form.indice.photo.alt) }}
                        </div>
                        <div class="col-xs-offset-3 col-xs-6">
                            <h2>{{ form_label(edit_form.indice.contenu) }}</h2>{{ form_widget(edit_form.indice.contenu) }}
                        </div>
                        <div class="col-xs-offset-3 col-xs-6">
                            <h2>{{ form_label(edit_form.indice.parametre) }}</h2>{{ form_widget(edit_form.indice.parametre) }}
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        <div class="col-xs-offset-3 col-xs-6 valider_edit">
            {{ form_widget(edit_form) }}
            <input type="submit" value="Valider" />
            {{ form_end(edit_form) }}
        </div>
        </div>
    </div>
{% endblock %}