{% extends 'MatchMyPicsBundle:admin:layout_admin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/matchmypics/css/listechallenge.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste de vos challenges</h1>
        <div class="col-xs-12">
            <div class="row btnCreate">
                <button type="button" class="btn btn-primary">
                    <h2>
                        <a href="{{ path('challenge_new') }}">Creer un challenge
                        </a>
                    </h2>
                </button>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Challenge</th>
                        <th>Zone</th>
                        <th>Photo</th>
                        <th>Difficulté</th>
                        <th class="btnShow">Afficher</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for challenge in challenges %}
                    <tr>
                        <td>{{ challenge.titre }}</td>
                        <td>{{ challenge.position }}</td>
                        <td><img class="img_challenge" src="{{ asset('image_upload/' ~ challenge.photo.sources) }}" alt="{{ challenge.titre }}"></td>
                        <td class="etoile">{{ challenge.parametre.niveau }}</td>
                        <td class="btnShow">
                            <a href="{{ path('challenge_show', { 'id': challenge.id }) }}" class="btn btn-primary">Voir</a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
{% endblock %}