{% extends 'MatchMyPicsBundle:admin:layout_admin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/matchmypics/css/listechallenge.css') }}"/>
{% endblock %}
{% block body %}
    <div class="container">
    <h1>Liste de vos joueurs</h1>
    <div class="row">
        <div class="col-xs-12 btnCreate">
            <button type="button" class="btn btn-primary">
                <h2>
                    <a href="{{ path('players_new') }}">Créer un player
                    </a>
                </h2>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Player</th>
                    <th>Team</th>
                    <th class="btnShow">Afficher</th>
                </tr>
                </thead>
                <tbody>
                {% for player in players %}
                <tr>
                    <td>{{ player.player }}</td>
                    <td>{{ player.team }}</td>
                    <td class="btnShow">
                        <a href="{{ path('players_edit', { 'id': player.id }) }}" class="btn btn-primary">Voir</a>
                    </td>

                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}