{% extends 'MatchMyPicsBundle:admin:layout_admin.html.twig' %}
{% block stylesheets %}
    
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/MatchMyPicsBundle/css/validation_challenge.css') }}"/>
    <link rel = "stylesheet" href="{{ asset('bundles/MatchMyPicsBundle/css/picturebox.css') }}"/>
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Validation des challenges</h1>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 div_solution_entete">
                <div class="col-xs-3 team">
                    <h2>Team</h2>
                </div>
                <div class="col-xs-4 team">
                    <h2>Challenge</h2>
                </div>
                <div class="col-xs-2">
                    <h2>Photo à matcher</h2>
                </div>
                <div class="col-xs-2">
                    <h2>Proposition</h2>
                </div>
            </div>
        </div>
        {% for solution in solutions %}

            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 div_solution">
                    <div class="row">
                        <div class="col-xs-3 team">
                            <h2>{{ solution.team }}</h2>
                        </div>
                        <div class="col-xs-4 team">
                            <h2>{{ solution.challenge }}</h2>
                        </div>
                        <div class="col-xs-2 lightbox">
                            <img src="{{ asset('image_upload/' ~ solution.challenge.photo.sources) }}">
                        </div>
                        <div class="col-xs-2 lightbox">
                            <img src="{{ asset('image_upload/' ~ solution.photo.sources) }}">
                        </div>
                        
                    </div>
                </div>
                <div class="col-xs-offset-2 col-xs-8 bouton_validation">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="{{ path('match_my_pics_validate', {'id': solution.id }) }}"><button class="validate">Valider</button></a>
                        </div>
                        <div class="col-xs-6">
                            <a href="{{ path('match_my_pics_refuse', {'id': solution.id }) }}"><button class="a_refaire">Refuser</button></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
