{% extends 'MatchMyPicsBundle:admin:layout_admin.html.twig' %}
{% block stylesheets %}
    
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/MatchMyPicsBundle/css/validation_challenge.css') }}"/>
    <link rel = "stylesheet" href="{{ asset('bundles/MatchMyPicsBundle/css/picturebox.css') }}"/>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1>Validation des challenges</h1>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Team</th>
                        <th>Photo à matcher</th>
                        <th>Proposition</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for solution in solutions %}
                    <tr>
                        <td>{{ solution.team }}</td>
                        <td class="lightbox">
                            <img src="{{ asset('image_upload/' ~ solution.challenge.photo.sources) }}">
                        </td>
                        <td class="lightbox">
                            <img src="{{ asset('image_upload/' ~ solution.photo.sources) }}">
                        </td>
                        <td>
                            <a href="{{ path('match_my_pics_validate', {'id': solution.id }) }}"><button class="validate">Valider</button></a>
                            <a href="{{ path('match_my_pics_refuse', {'id': solution.id }) }}"><button class="a_refaire">Refuser</button></a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
