{% extends '@MatchMyPics/user/layout_user.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/MatchMyPicsBundle/css/challenges.css') }}">
{% endblock %}

{% block body %}

<div class="container liste_challenges">
	<div class="row">

		<div class="row divrow">
			<div class="row rowclass">
				<div class="col-xs-4 classth"><h3>Position</h3></div>
				<div class="col-xs-4 classth"><h3>Team</h3></div>
				<div class="col-xs-4 classth"><h3>Score</h3></div>
			</div>
			<div class="row rowclass">
				<div class="col-xs-4 classtd"><p>twig à rajouter!</p></div>
				<div class="col-xs-4 classtd"><p>{{ team.name }}</p></div>
				<div class="col-xs-4 classtd"><p>{{ team.score }}</p></div>
			</div>
		</div>

		{% for challenge in challenges %}
		<!-- <a href="match_my_pics_show_challenge?id=$_GET['id']"></a> -->
			<a href="{{ path('match_my_pics_show_challenge', { 'id': challenge.id }) }}">

				<div class="col-xs-offset-1 col-xs-10 container_chall">
					<div class="row easy">
						<div class="col-xs-8 challengediv">
							<h2>{{ challenge.titre }}</h2>
						</div>
						<div class="col-xs-4">
							<div class="row">
								<div class="col-xs-12 pts_div">
									<h3>{{ challenge.parametre.points }}</h3>
								</div>
								<div class="col-xs-12 diff_div">
									<h3 class="etoile">{{ challenge.parametre.niveau}}</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
</div>
{%  endblock %}