{% extends 'MatchMyPicsBundle:user:layout_user.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/matchmypics/css/home.css') }}">
{% endblock %}

{% block nav %}
    <div class="row header_home">
        <div class="col-xs-3 logoteam">
            <img src="{{ asset('image_upload/' ~ app.user.photo.sources) }}" alt="{{ app.user.photo.alt }}"/>
        </div>
        <div class="col-xs-9 titleteam">
            <h2>TEAM {{ app.user.username }}</h2>
        </div>
    </div>
{% endblock %}

{% block body %}

<!--Header page Home-->
<div class="container home">
    <!--Tab members Team-->
    <div class="container-fluid">
        <div class="row tab_team">
            {% for player in app.user.players  %}
            <div class="col-xs-6 box">
                <h3>{{ player.player|upper }}</h3>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--Btn Challenges-->
    <div class="row btn_challenges">
        <div class="col-xs-8 col-xs-offset-2">
            <a href="{{ path('match_my_pics_challenges') }}"><input id="btn_challenges" type="submit" name="challenges" value="CHALLENGES"/></a>
        </div>
    </div>

    <!--Results. Tab-->
    <table class="table table-scores">
        <caption class="title_tab">Classement par Equipes</caption>
        <thead>
        <tr>
            <th class="positiona">Positions</th>
            <th>Teams</th>
            <th>Scores</th>
        </tr>
        </thead>
        <tbody>

        {% for team in teams %}
            {% if team.superAdmin == false %}
                <tr>
                    <th class="positiona">{{ loop.index }}</th>
                    <td>{{ team.username }}</td>
                    <td>{{ team.score }}</td>
                </tr>
            {% endif %}

        {% endfor %}

        </tbody>
    </table>
    <!--Btn Rules-->
    <div class="row btn_team">
        <div class="col-xs-6 col-xs-offset-3">
            <a href="{{ path('match_my_pics_rules') }}"><input id="btn_rules" type="submit" name="btn_rules" value="Règles du Jeu"/></a>
        </div>
    </div>
    <!-- Btn deconnexion -->
    <div class="row btn_footer">
        <div class="col-xs-1">
            <a href="https://www.facebook.com/Wild-Code-School-1571738596452522/?fref=ts" target="blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-xs-offset-9 col-xs-1 logout">
            <a href="{{ path('fos_user_security_logout') }}">
                <i class="fa fa-power-off fa-2x" aria-hidden="true">
                </i>
            </a>
        </div>

    </div>
</div>

{%  endblock %}