{% extends 'MatchMyPicsBundle:user:layout_user.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/MatchMyPicsBundle/css/add_your_pics.css') }}">
{% endblock %}

{% block body %}
	
<div class="container">
	<div class="col-xs-12">
		<!--ligne pour ajouter notre photo-->
		<div class="row">
            {{ form_start(form) }}
			<div class="image-upload">
				<div class="row">
                    {{ form_widget(form.photo.file, { 'id': 'img_input' })}}
				</div>

				<div class="row text-center">
					<img id="show_image" src="#"/>
				</div>
			</div> 
		</div>
		<div class="row_send">
			<div class="col-xs-12">
				<input type="submit" value="Create" />
                {{ form_end(form) }}
			</div>
		</div>
	</div>
</div>

{% endblock  %}

{% block javascripts %}
    {{ parent() }}
	<script>
        function readURL(input, img) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(img).attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#img_input").change(function(){
            readURL(this, '#show_image');
        });
	</script>
{% endblock %}



