{% extends 'base.html.twig' %}

{% block body %}
    <h1>Solutions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for solution in solutions %}
            <tr>
                <td><a href="{{ path('solution_show', { 'id': solution.id }) }}">{{ solution.id }}</a></td>
                <td>{% if solution.etat %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('solution_show', { 'id': solution.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('solution_edit', { 'id': solution.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('solution_new') }}">Create a new solution</a>
        </li>
    </ul>
{% endblock %}
